/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 70px;
}

nav a {
  text-decoration: none;
}

.link:hover {
  background: #e8edea;
}

nav li {
  border: 0px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  color: grey;
}

.logo {
  display: flex;
  height: 38px;
}

.container-top {
  display: flex;
  justify-content: space-evenly;
}

.tagline-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
  font-size: 75px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interior-button {
  border: 1px solid darkgrey;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.top-img {
  height: 100%;
  width: 100%;
}

.container-main {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.upper-textbox-container {
  display: flex;
  justify-content: space-around;
}

h6 {
  font-family: Bangers;
  padding: 15px 0 15px 0;
}

p {
  line-height: 1.25;
}

.textbox {
  width: 400px;
  padding: 20px;
}

.img2-container {
  display: flex;
  justify-content: space-around;
}

.middle-img {
  border-radius: 5px;
}

.lower-textbox-container {
  display: flex;
  justify-content: space-around;
}

.textbox-2 {
  width: 300px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.address-container {
  display: flex;
  justify-content: flex-start;
}

address {
  display: inline-block;
  width: 400px;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
}
